{% extends 'template/layout.mailer.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ annonce.titre }}</h1>
            <p class="card-text">{{ annonce.description }}</p>
            <a href="http://localhost:8000/edit/{{ annonce.id }}" class="btn btn-primary">Modifier mon annonce avant la valider</a>
            <a href="http://localhost:8000/valider/{{ annonce.id }}" class="btn btn-primary">Valider mon annonce</a>
        </div>
    </div>
{% endblock%}